# node

node_modules/

# nuxt

.nuxt/
.output/

# ci/cd

.circleci/

# git 

.git/
.gitignore

# misc

CODEOWNERS
README.md

.vscode/
# Self Signed Certificates
*.key
*.pem
*.crt

export-aws-credentials.py

start-local.sh