SENTRY_DSN = YOUR_DSN_HERE
SENTRY_ENV = YOUR_ENV_HERE
ENV = YOUR_ENV_HERE
LIVESTREAM_URL = YOUR_LIVESTREAM_URL_HERE
NAVIGATION_API = YOUR_NAVIGATION_API_HERE
PUBLISHER_BASE_API='https://api.wnyc.org/api/v3/'
STORIES_API = YOUR_STORIES_API_HERE
IMAGE_BASE_URL = YOUR_IMAGE_BASE_URL_HERE

HTL_IS_TESTING = 'yes'
HTL_CSS = 'https://htlbid.com/stage/v3/wnyc.org/htlbid.css'
HTL_JS = 'https://htlbid.com/stage/v3/wnyc.org/htlbid.js'

environment = prod
SUPABASE_URL = https://pathHere.supabase.co
SUPABASE_KEY = keyHere
SUPABASE_AUTH_SIGN_IN_REDIRECT_TO = http://localhost:3000
SUPABASE_AUTH_TOKEN_NAME = authTokenHere

GA_MEASUREMENT_ID='G-xxxxxxxxxx'
GTM_ID='GTM-xxxxxxx'