SENTRY_DSN=YOUR_DSN_HERE
SENTRY_ENV=YOUR_ENV_HERE
ENV=YOUR_ENV_HERE
LIVESTREAM_URL=YOUR_LIVESTREAM_URL_HERE
NAVIGATION_API=YOUR_NAVIGATION_API_HERE
STORIES_API=YOUR_STORIES_API_HERE
IMAGE_BASE_URL=YOUR_IMAGE_BASE_URL_HERE