SENTRY_DSN=YOUR_DSN_HERE
SENTRY_ENV=YOUR_ENV_HERE
SENTRY_AUTH_TOKEN=YOUR_AUTH_HERE
ENV='prod'
LIVESTREAM_URL='https://api.prod.nypr.digital/api/v4/whats_on/'
NAVIGATION_API='https://cms.prod.nypr.digital/api/v2/navigation/3/'
PUBLISHER_BASE_API='https://api.wnyc.org/api/'
SYSTEM_MESSAGES_API='https://cms.prod.nypr.digital/api/v2/system_messages/3/'
HEADER_NAVIGATION_API='https://cms.demo.nypr.digital/api/v2/navigation/3/'
STORIES_API='https://cms.prod.nypr.digital/api/v2/pages/?type=news.ArticlePage&fields=ancestry%2Cdescription%2Clead_asset%2Clegacy_id%2Clisting_image%2Cpublication_date%2Cshow_as_feature%2Csponsored_content%2Ctags%2Cupdated_date%2Curl%2Cuuid%2Clisting_title%2Clisting_summary%2Crelated_authors&order=-publication_date&show_on_index_listing=true&limit=3&show_as_feature=true&sponsored_content=false'
IMAGE_BASE_URL='https://cms.prod.nypr.digital/images/'
HTL_IS_TESTING='yes'
HTL_CSS='https://htlbid.com/stage/v3/wnyc.org/htlbid.css'
HTL_JS='https://htlbid.com/stage/v3/wnyc.org/htlbid.js'
environment=prod
SUPABASE_URL=https://dyjmrswsrewafrohnfcv.supabase.co
SUPABASE_KEY=
SUPABASE_AUTH_SIGN_IN_REDIRECT_TO=http://localhost:3000/
SUPABASE_AUTH_TOKEN_NAME=sb-dyjmrswsrewafrohnfcv-auth-token
FB_MEASUREMENT_ID='G-HR1Q2F6S29'
FB_API_KEY_WEB='YOUR_FB'
FB_API_KEY_IOS='YOUR_FB'
FB_API_KEY_ANDROID='YOUR_FB'
FB_AUTH_DOMAIN='YOUR_FB'
FB_PROJECT_ID='YOUR_FB'
FB_STORAGE_BUCKET='YOUR_FB'
FB_MESSAGING_SENDER_ID='YOUR_FB'
FB_APP_ID_WEB='YOUR_FB'
FB_APP_ID_IOS='YOUR_FB'
FB_APP_ID_ANDROID='YOUR_FB'
GTM_ID='GTM-TKFJ684'
BFF_URL='http://local.dev.nypr.digital:3000'
OPENWEB_SPOT_ID='ID_HERE'
NPR_CDS_API='https://content.api.npr.org'
NPR_CDS_API_KEY= # creds in 1pwd
WNYC_NOW_FEED_URL=FEEDURL

WNYC_SHOW_SHARE_BASE_URL='https://www.wnyc.org/shows/'
ARTICLE_STREAMFIELD_DONATION_URL='https://pledge.wnyc.org/support/wnyc-app/?utm_medium=wnyc-app&utm_source=donation-block&utm_campaign=article-block'
SETTINGS_MENU_DONATION_URL='https://pledge.wnyc.org/support/wnyc-app/?utm_medium=wnyc-app&utm_source=donation-button&utm_campaign=settings_menu'
USER_AGENT='WNYC-App-Test'
ONESIGNAL_APP_ID='YOUR_APP_ID'
APP_VERSION='x.x.x'
# Salesforce JWT Bearer Authentication
SF_CLIENT_ID=your_salesforce_consumer_key
SF_USERNAME=your_salesforce_username@example.com
SF_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----"
SF_LOGIN_URL=https://login.salesforce.com
JWT_SECRET='your_jwt_secret'
SPRINGBOARD_URL='https://nypr.hosted.jacksonriverdev.com'
SPRINGBOARD_KEY='your_springboard_key'