@charset "UTF-8";
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';
@import './include-media';
@import './accessibility';
@import './variables';
@import './vars';
@import './v-cssvars/_cssvars';
@import './cssvars';
@import './mixins-functions';
@import './typography';
@import './transitions';

figure {
  margin: 0;
}

// hide outline when using a mouse but not when using a keyboard
// https://github.com/WICG/focus-visible
// .js-focus-visible :focus:not(.focus-visible) {
//   outline: none;
// }

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overscroll-behavior: none;
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--text-color);
  font-size: inherit;
  padding: 0;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: lining-nums;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  transform: none;
  height: 100% !important;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: unset !important;
  position: relative !important;
  margin: auto;

  &.show-header {
    main {
      padding-top: $headerHeight;
    }
  }
  &.hide-bottom-menu {
    .bottom-menu {
      display: none;
    }
    main {
      padding-bottom: 0px; // account for the sticky bottom menu
    }
  }
  &.background-gradient {
    background: $backgroundBlueGradient1;
    transform: none;
    height: 100% !important;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: unset !important;
    position: relative !important;
  }
  &.solid-bg {
    background: var(--solid-dark-bg-color);
  }
  main {
    transition: padding-top var(--p-transition-duration) ease;
    padding-bottom: calc(
      $bottomMenuHeight + $playerHeight + env(safe-area-inset-bottom) + 20px
    ); // account for the sticky bottom menu
  }
  &.no-bottom-padding {
    main {
      padding-bottom: 0px !important;
    }
  }
}
body.overlay-is-active {
  overflow: hidden;
}

a {
  -webkit-touch-callout: none; /* disable the iOS long press action */
  -webkit-user-select: none; /* disable text selection */
}

.no-wrap {
  white-space: nowrap;
}
.no-hyphens {
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}
.col-fixed {
  &.ad300 {
    max-width: 316px;
    width: 100%;
  }
}

.font-meta {
  font-family: var(--font-family-header);
}

.font-tisa {
  font-family: var(--font-family-tisa);
}

label {
  color: var(--text-color);
}

// match the prime vue Divider styles
hr {
  border: none;
  height: 1px;
  background: var(--p-surface-50);
  &.dim {
    opacity: 0.25;
  }
}

.top-safe-cover {
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: var(--header-background);
  width: 100vw;
}

@mixin content-formatting() {
  width: 100%;
  max-width: $contentWidth;
  padding: 0.75rem $padding;
  margin: auto;
  @include media('<lg') {
    width: 100%;
  }
  &.max-width {
    max-width: $maxWidth;
  }
  &.full-width {
    max-width: 100%;
  }
  @include media('>=md') {
    padding: 0.75rem 3rem;
  }
}

section {
  @include content-formatting();
}

@mixin html-formatting() {
  h1 {
    font-size: var(--font-size-12);
    line-height: var(--font-size-12);
    font-weight: var(--font-weight-700);
    letter-spacing: -1px;
    color: var(--text-color);
    @include media('<md') {
      font-size: var(--font-size-9);
      line-height: var(--font-size-9);
    }
  }
  a {
    -webkit-touch-callout: none; /* disable the iOS long press action */
    -webkit-user-select: none; /* disable text selection */
    color: var(--link);
    &:hover,
    &:active {
      color: var(--link);
    }
    &:visited {
      color: var(--link);
    }
  }
  p,
  dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: normal !important;
  }
  strong {
    font-weight: var(--font-weight-700);
  }
  img {
    max-width: 100%;
    position: relative;
  }
  .button {
    border-radius: 2rem;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: bottom;
    //background: var(--white100);
    border: 2px solid transparent;
    //color: var(--black500);
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  iframe {
    width: 100%;
    max-width: 100%;
  }
  .user-embedded-video {
    div {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  hr {
    margin: 1.5rem 0;
  }
  &.noLinks {
    a {
      pointer-events: none;
      color: var(--text-color);
      text-decoration: none;
    }
  }
}
.html-formatting {
  @include html-formatting();
}

@mixin cardTitle() {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  @include truncate();
  @include t3lines();
}
@mixin cardBody() {
  font-size: 0.813rem;
  line-height: 1.106rem;
  font-weight: 400;
  @include truncate();
  @include t4lines();
}

.p-error {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-500);
}

//remove sticky hover on mobile
.p-button.no-hover:hover {
  background: transparent !important;
}
//remove sticky hover on mobile
.no-active:active {
  background: transparent !important;
}

//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
// extensions

/* Customizations to the theme for components that CAN"T be done with the tokens should be defined here */
.tabs {
  .p-tablist-tab-list {
    gap: 1.5rem;
    .p-tab {
      font-family: var(--font-family);
      font-size: 0.8725rem;
    }
  }
}

.p-password {
  .p-inputtext {
    width: 100%;
  }
}

.p-toast {
  width: 90%;
  max-width: 390px;
  top: calc(20px + env(safe-area-inset-top)) !important;
  .p-toast-message {
    .p-toast-message-content {
      .p-toast-message-icon {
        margin-top: 2px;
      }
      .p-toast-message-text {
        .p-toast-detail {
          display: none;
        }
      }
      .p-toast-close-button {
        margin: 0;
        right: 0;
      }
    }
  }
}

form {
  label {
    font-family: 'ff-meta-web-pro';
    font-size: 0.813rem;
  }
}

html:not(.style-mode-dark) {
  .p-inputtext {
    // so when input text fields are on a white background, the background color is slightly grey to contrast off the white
    &.on-white {
      background-color: var(--p-surface-25);
    }
  }
}

// :root,
// [data-style-mode='light'],
// .style-mode-light {
//   --v-input-switch-border-color: var(--shade-300);
// }
// [data-style-mode='dark'],
// .style-mode-dark {
// }
