$maxWidth: 1440px;
$contentWidth: 1200px;
$thinContentWidth: 768px;
$headerHeight: 88px;
$bottomMenuHeight: 60px;
$playerHeight: 100px;
$toolsBreakPoint: 472px;
$padding: 1.25rem;

// DS UPDATE
$backgroundGradient1: linear-gradient(to top, #234670ff, #1c233eff);
//

:root {
    --header-height: #{$headerHeight};
    --bottom-menu-height: #{$bottomMenuHeight};
    --player-height: #{$playerHeight};
    --header-z-index: 900;
    --line-clamp: 3;

    --v-input-switch-slider-size: 1.15rem;
    //--v-input-switch-padding-buffer: 8px;
}

// component cssvar theme control and base component overrides
:root,
[data-style-mode='light'],
.style-mode-light {
    --wnyc-logo-color: var(--red, #de1e3d) !important;
    --bottom-menu-icon-color: var(--night, #101012) !important;
    --v-card-title-hover-color: var(--link-button-hover-color) !important;
    --s-box-background-color: var(--background) !important;
    --s-box-stroke-color: var(--background) !important;
    --header-background: #ffffffe6 !important;
    --live-feature-background: var(--background2) !important;
    --horzScrollGradient: var(--background);
    --donation-bg: linear-gradient(to top, var(--dark-blue), var(--blue)) !important;
    --donation-text: var(--text-color-on-dark) !important;
}
[data-style-mode='dark'],
.style-mode-dark {
    --wnyc-logo-color: var(--white, #ffffff) !important;
    --bottom-menu-icon-color: var(--white, #ffffff) !important;
    --v-card-title-hover-color: var(--link-button-hover-color) !important;
    --s-box-background-color: #32384f !important;
    --header-background: #{map-get($colors-dark-mode, 'dark-blue')} !important;
    --live-feature-background: var(--background3) !important;
    --horzScrollGradient: var(--dark-blue);
    --donation-bg: linear-gradient(to top, var(--background3-500), var(--background-500)) !important;
    --donation-text: var(--night-500) !important;
}

// :root {
//     --cyan-50: #f3f3f3;
//     --cyan-100: #c6c6c6;
//     --cyan-200: #989899;
//     --cyan-300: #6b6b6c;
//     --cyan-400: #3d3d3f;
//     --cyan-500: #101012;
//     --cyan-600: #0e0e0f;
//     --cyan-700: #0b0b0d;
//     --cyan-800: #09090a;
//     --cyan-900: #060607;
// }
