$maxWidth: 1440px;
$contentWidth: 1200px;
$thinContentWidth: 768px;
$headerHeight: 88px;
$bottomMenuHeight: 60px;
$playerHeight: 100px;
$toolsBreakPoint: 472px;

:root {
    --header-height: #{$headerHeight};
    --bottom-menu-height: #{$bottomMenuHeight};
    --player-height: #{$playerHeight};
    --header-z-index: 900;
    --line-clamp: 3;

    --v-input-switch-slider-size: 1.15rem;
    //--v-input-switch-padding-buffer: 8px;
}

// component cssvar theme control and base component overrides
:root,
[data-style-mode='light'],
.style-mode-light {
    --wnyc-logo-color: var(--red, #de1e3d) !important;
    --bottom-menu-icon-color: var(--night, #101012) !important;
    --v-card-title-hover-color: red !important;
    --s-box-background-color: var(--background) !important;
    --s-box-stroke-color: var(--background) !important;
    --header-background: #ffffffe6 !important;
    --live-feature-background: var(--background2) !important;
}
[data-style-mode='dark'],
.style-mode-dark {
    --wnyc-logo-color: var(--white, #ffffff) !important;
    --bottom-menu-icon-color: var(--white, #ffffff) !important;
    --s-box-background-color: #ffffff1a !important;
    --header-background: #{map-get($colors-dark-mode, 'dark-blue')} !important;
    --live-feature-background: var(--background3) !important;
}
