$maxWidth: 1440px;
$contentWidth: 1200px;
$thinContentWidth: 768px;
$headerHeight: 70px;
$playerHeight: 100px;
$toolsBreakPoint: 472px;

:root {
  --header-height: #{$headerHeight};
  --player-height: #{$playerHeight};
  --header-z-index: 900;
  --line-clamp: 3;
}

body {
  background-color: var(--darkblue) !important;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  transform: none;
}

.ion-page {
  //overflow-y: scroll;
}

main {
  margin-top: 80px; // account for the sticky header height
}

section {
  width: 100%;
  max-width: $contentWidth;
  padding: spacingXY(3, 4);
  margin: auto;
  @include media('<lg') {
    width: 100%;
  }
  &.max-width {
    max-width: $maxWidth;
  }
  &.full-width {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  transition: var(--transition-duration);
  opacity: 1;
  &:hover {
    opacity: 0.75;
  }
  &.plain {
    border: none !important;
    padding: 0 !important;
  }
}

.col-fixed {
  &.ad300 {
    max-width: 316px;
    width: 100%;
  }
}

// TO DO move to DS extensions file
.p-button .p-button-label {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: var(--font-size-7) !important;
}

.flexible-link {
  &.raw.no-border {
    border: none !important;
  }
}

.v-card {
  display: flex;
  align-items: flex-start;
  background: var(--surface-a);
  color: var(--text-color);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 100%;
  gap: 1rem;
  a.disabled {
    pointer-events: none;
  }
  .card-image-link {
    img {
      cursor: pointer;
    }
  }
  .card-details {
    align-self: flex-start;
    flex: 1;
    //  overflow: hidden;
    .card-title {
      line-height: var(--font-size-8);
      .v-tag {
        float: left;
        margin-right: spacing(2);
        line-height: var(--font-size-8);
      }
      .card-title-link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        overflow-wrap: anywhere;
        word-break: break-word;
        .pi {
          font-size: var(--font-size-8);
          margin-left: spacing(2);
          margin-top: spacing(0.5);
          text-decoration: none;
          &:before {
            color: var(--link-button-color);
          }
        }
      }
    }
  }
  .card-slot {
    word-break: break-word;
    margin-top: spacing(5);
  }
  .card-slot,
  .card-slot p {
    font-size: var(--font-size-6);
    line-height: var(--font-size-9);
    @include media('<lg') {
      font-size: var(--font-size-5);
      line-height: var(--font-size-8);
    }
  }
}

.v-card.mod-vertical {
  flex-direction: column;
  .card-details {
    padding: spacing(0);
  }
}

.v-card.mod-vertical .card-image-wrapper {
  display: contents;
}

.v-card.mod-horizontal {
  @include media('<lg') {
    .image {
      width: 100px;
    }
  }
}

.v-card.mod-left {
  flex-direction: row-reverse;
}

.v-card.mod-large {
  @include media('<lg') {
    flex-direction: column;
  }
}
.v-card.mod-large .card-image-wrapper {
  flex-basis: 75%;
  @include media('<lg') {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: spacing(5);
  }
}
.v-card.mod-large .card-image-wrapper .image-with-caption {
  width: 100% !important;
}
.v-card.mod-large .card-details {
  align-self: flex-end;
  @include media('<lg') {
    align-self: flex-start;
  }
}
