$maxWidth: 1440px;
$contentWidth: 1200px;
$thinContentWidth: 768px;
$headerHeight: 70px;
$playerHeight: 100px;
$toolsBreakPoint: 472px;

:root {
  --header-height: #{$headerHeight};
  --player-height: #{$playerHeight};
  --header-z-index: 900;
  --line-clamp: 3;
}
html {
  background-color: var(--red);
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
body {
  transform: none;
  height: unset !important;
  max-height: unset !important;
  position: relative !important;
}

.ion-page {
  //overflow-y: scroll;
}

main {
  margin-top: 80px; // account for the sticky header height

  // update the extensions in the theme with the following update on the background gradient
  background: linear-gradient(180deg, var(--red) 10%, var(--blue) 24%);
}

section {
  width: 100%;
  max-width: $contentWidth;
  padding: spacingXY(3, 4);
  margin: auto;
  @include media('<lg') {
    width: 100%;
  }
  &.max-width {
    max-width: $maxWidth;
  }
  &.full-width {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  transition: var(--transition-duration);
  opacity: 1;
  &:hover {
    opacity: 0.75;
  }
  &.plain {
    border: none !important;
    padding: 0 !important;
  }
}

.col-fixed {
  &.ad300 {
    max-width: 316px;
    width: 100%;
  }
}

.font-meta {
  font-family: var(--font-family);
}

.font-tisa {
  font-family: var(--font-family-header);
}

.dots {
  opacity: 0.5;
  background-image: radial-gradient(RGB(255, 255, 255, 0.6) 2px, transparent 2px),
    radial-gradient(RGB(255, 255, 255, 0.6) 2px, transparent 2px);
  background-position: 35px 0, 35px 35px;
  background-size: 35px 35px;
  width: 1366px;
  max-width: 100%;
  height: 340px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

// TO DO move to DS extensions file
.p-button .p-button-label {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: var(--font-size-7) !important;
}

.flexible-link {
  &.raw.no-border {
    border: none !important;
  }
}
