@import 'vars.scss';
@import 'transitions.scss';

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overscroll-behavior: none;
}

body {
  background: var(--background);
  transform: none;
  height: 100% !important;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: unset !important;
  position: relative !important;
  margin: auto;

  &.show-header {
    main {
      padding-top: $headerHeight;
    }
  }
  &.hide-bottom-menu {
    .bottom-menu {
      display: none;
    }
    main {
      padding-bottom: 0px; // account for the sticky bottom menu
    }
  }
  &.background2 {
    background: var(--background2);
    .p-divider .p-divider-content {
      background: var(--background2);
    }
  }
  &.background-gradient {
    //background: linear-gradient(to bottom, #1b223c, #244873);
    background: $backgroundGradient1;
    transform: none;
    height: 100% !important;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: unset !important;
    position: relative !important;
  }
  &.solid-bg {
    background: var(--solid-bg-color);
  }
  main {
    transition: padding-top $transitionDuration ease;
    padding-bottom: calc(
      $bottomMenuHeight + $playerHeight + env(safe-area-inset-bottom) + 20px
    ); // account for the sticky bottom menu
  }
  &.no-bottom-padding {
    main {
      padding-bottom: 0px !important;
    }
  }
}

a {
  -webkit-touch-callout: none; /* disable the iOS long press action */
  -webkit-user-select: none; /* disable text selection */
}

@mixin html-formatting() {
  h1 {
    font-size: var(--font-size-12);
    line-height: var(--font-size-12);
    font-weight: var(--font-weight-700);
    letter-spacing: -1px;
    color: var(--text-color);
    @include media('<md') {
      font-size: var(--font-size-9);
      line-height: var(--font-size-9);
    }
  }
  a {
    -webkit-touch-callout: none; /* disable the iOS long press action */
    -webkit-user-select: none; /* disable text selection */
    color: var(--link);
    &:hover,
    &:active {
      color: var(--link);
    }
    &:visited {
      color: var(--link);
    }
  }
  p,
  dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: normal !important;
  }
  strong {
    font-weight: var(--font-weight-700);
  }
  img {
    max-width: 100%;
    position: relative;
  }
  .button {
    border-radius: 2rem;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: bottom;
    //background: var(--white100);
    border: 2px solid transparent;
    //color: var(--black500);
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  iframe {
    width: 100%;
    max-width: 100%;
  }
  .user-embedded-video {
    div {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  hr {
    margin: 1.5rem 0;
  }
  &.noLinks {
    a {
      pointer-events: none;
      color: var(--text-color);
      text-decoration: none;
    }
  }
}
.html-formatting {
  @include html-formatting();
}

.p-message {
  background-color: var(--background4) !important;
  color: #ffffff;
  &.text-only {
    background: transparent !important;
    .p-message-icon,
    .p-message-close {
      display: none;
    }
    .p-message-text * {
      //color: var(--night-500);
    }
    &.error {
      .p-message-text * {
        color: var(--red-500);
      }
    }
  }
}
.p-toast {
  opacity: 1 !important;
  width: 90%;
  max-width: 25rem;
  top: calc(20px + env(safe-area-inset-top)) !important;
  .p-toast-message {
    border: none !important;
    box-shadow: none;
    border-radius: 0;
    background-color: var(--background4) !important;
    .p-toast-message-content {
      justify-content: center;
      align-items: center;
      .p-icon {
        width: 1.25rem !important;
        height: 1.25rem !important;
      }
      .p-toast-message-text {
        flex: unset;
        font-size: 0.875rem;
        .p-toast-detail {
          display: none;
        }
      }
    }
  }
}

// match the prime vue Divider styles
hr {
  border: none;
  height: 1px;
  background: var(--stroke-500);
  &.dim {
    opacity: 0.25;
  }
}

/* Light mode */
// @media (prefers-color-scheme: light) {
//     body {
//         background-color: white;
//         color: black;
//     }
// }

// /* Dark mode */
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: black;
//         color: white;
//     }
// }

.top-safe-cover {
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: var(--header-background);
  width: 100vw;
}

@mixin content-formatting() {
  width: 100%;
  max-width: $contentWidth;
  padding: 0.75rem $padding;
  margin: auto;
  @include media('<lg') {
    width: 100%;
  }
  &.max-width {
    max-width: $maxWidth;
  }
  &.full-width {
    max-width: 100%;
  }
  @include media('>=md') {
    padding: 0.75rem 3rem;
  }
}

section {
  @include content-formatting();
}
.no-wrap {
  white-space: nowrap;
}
.no-hyphens {
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}
.col-fixed {
  &.ad300 {
    max-width: 316px;
    width: 100%;
  }
}

.font-meta {
  font-family: var(--font-family-header);
}

.font-tisa {
  font-family: var(--font-family-tisa);
}

label {
  color: var(--text-color);
}

// remove sticky hover on mobile
.p-button.no-hover:hover {
  background: transparent !important;
}

.p-button {
  border-radius: 2rem;
  &.center {
    justify-content: center;
    i {
      margin-right: 10px;
    }
    .p-button-label {
      flex: none;
    }
  }
  &.link {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    color: var(--link);
  }
  &.p-button-secondary {
    .p-button-icon:before,
    .p-button-icon:after {
      color: var(--text-color);
    }
    &.p-button-outlined {
      color: var(--text-color);
    }
    &:enabled:hover {
      &.p-button-outlined {
        color: var(--text-color);
      }
    }
  }
}

.p-button:focus,
.p-link:focus,
button:focus,
a:focus,
.flexible-link:focus,
.card-click:focus,
.p-focus {
  //outline: solid 2px var(--focus-outline-color);
  outline-offset: -2px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.p-button-icon-only:focus {
  outline-offset: -7px;
}
a:visited {
  color: initial;
}

.p-skeleton {
  background: var(--background3);
  &:after {
    //animation-duration: 0.5s;
  }
}

.pi-spinner {
  animation: fa-spin 0.5s infinite linear;
}

.nobreak {
  white-space: nowrap;
}

.text-color {
  color: var(--text-color);
}

// text plain button colors
.p-button.p-button-text.p-button-plain {
  color: var(--text-color);
}

.p-button.p-button-text.p-button-plain:enabled:hover {
  background: var(--button-hover-plain-background);
  color: var(--text-color);
}

.p-inputtext {
  background-color: var(--s-box-background-color);
  color: var(--text-color);
  border-color: var(--stroke);
}
.p-inputwrapper {
  .p-icon {
    color: var(--text-color) !important;
  }
}
::placeholder {
  color: var(--placeholder-color);
}

.p-divider {
  .p-divider-content {
    background-color: var(--background2);
    color: var(--text-color);
  }
}

// ?!?!?!?, I have to force a display change here in order for the image to show up
.v-image-publisher {
  .image {
    display: flex !important;
  }
}

.p-dialog {
  .p-dialog-header,
  .p-dialog-content,
  .p-dialog-footer {
    background: var(--background2);
    color: var(--text-color);
  }
  .p-dialog-header-icon svg path {
    fill: var(--text-color);
  }
}

.p-progressbar {
  .p-progressbar-value {
    background-color: var(--text-color);
  }
}

.p-tabview {
  .p-tabview-nav {
    border-color: transparent;
    background: transparent;
    padding: 0;

    li {
      margin-right: 2rem;
      .p-tabview-nav-link {
        border-color: transparent;
        background: transparent !important;
        padding-bottom: 0.5rem;
        color: var(--text-color);
        padding-left: 0;
        padding-right: 0;
      }
      &.p-highlight .p-tabview-nav-link {
        background: transparent;
        border-color: var(--link);
        color: var(--text-color);
      }
    }
  }
  .p-tabview-panels {
    padding: 1rem 0 0 0;
    background: transparent;
  }
}

// image caption button
.v-image-caption {
  .caption-button {
    background-color: #ffffff;
    border: none;
    color: var(--night-500);
    height: 38px;
    width: 38px;
  }
}
.v-image {
  .p-button {
    background-color: #ffffff;
    border: none;
    color: var(--night-500);
    height: 38px;
    width: 38px;
    &.gallery-button {
      width: auto;
      display: flex;
      gap: 0.4rem;
      .p-badge {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit !important;
        font-family: inherit;
        margin: 0;
        padding: 0;
      }
    }
  }
}

// dotmenu pi icons
.p-dropdown-item {
  .pi {
    font-size: 24px;
    padding: 0 4px;
  }
  .custom-icon {
    height: 24px !important;
  }
}

//p.sidebar
.p-component-overlay-enter {
  background: none !important;
}
.p-sidebar {
  box-shadow: none !important;
}

@mixin cardTitle() {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  @include truncate();
  @include t3lines();
}
@mixin cardBody() {
  font-size: 0.813rem;
  line-height: 1.106rem;
  font-weight: 400;
  @include truncate();
  @include t4lines();
}

.p-slider {
  // makes tapping on the timeline easier
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    margin: auto;
    background-color: transparent;
  }
}
.p-slider .p-slider-handle {
  // makes dragging the slider easier
  &:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: -16px;
    right: 0;
    margin: auto;
    background-color: transparent;
    border-radius: 25px;
  }
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: var(--persistent-player-slider-thumb--hover-bg);
  border-color: #ffffff;
}
.p-slider .p-slider-handle:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0.2rem 0.2rem #ffffff;
}
.p-error {
  color: var(--error-text-color);
}
.author h2 {
  text-decoration: underline;
}