$maxWidth: 1024px;
$contentWidth: 1440px;
$thinContentWidth: 768px;
$headerHeight: 88px;
$headerHeightApp: 88px;
$headerBottomHeight: 57px;
$bottomMenuHeight: 60px;
$playerMaxWidth: 1920px;
$playerHeight: 60px;
$playerHeightBrowser: 80px;
$padding: 1.5rem;
$mobileBreakpoint: '<md';
$page-gutter-padding: 32px;

$p-ripple-background-light: rgba(0, 0, 0, 0.2);
$p-ripple-background-dark: rgba(255, 255, 255, 0.5);

$backgroundBlueGradient1: linear-gradient(to top, #234670ff, #1c233eff);
