$maxWidth: 1024px;
$contentWidth: 768px;
$thinContentWidth: 768px;
$headerHeight: 88px;
$bottomMenuHeight: 60px;
$playerHeight: 60px;
$toolsBreakPoint: 472px;
$padding: 1.5rem;
$mobileBreakpoint: '<md';
$page-gutter-padding: 32px;

$backgroundBlueGradient1: linear-gradient(to top, #234670ff, #1c233eff);
