:root,
[data-style-mode='light'],
.style-mode-light {
    --v-toggleswitch-text-color: var(--text-color);
    --v-toggleswitch-text-yes-color: var(--primary-text-color);
    --v-toggleswitch-border-color: transparent;
    --v-toggleswitch-slider-size: 0.825rem;
    --v-toggleswitch-padding-buffer: 5px;
    --v-toggleswitch-transition-duration: var(--transition-duration);
    --v-toggleswitch-border-radius: 30px;
}
[data-style-mode='dark'],
.style-mode-dark {
}
