<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431848840548-e7f48udvebjbhge7lbm4kpfb55v2o4pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431848840548-e7f48udvebjbhge7lbm4kpfb55v2o4pc</string>
	<key>API_KEY</key>
	<string>AIzaSyCfgS9x7Ay-8D-Z9K4XYszj6h6GoO2Nzi8</string>
	<key>GCM_SENDER_ID</key>
	<string>431848840548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wnyc-app-android</string>
	<key>PROJECT_ID</key>
	<string>wnyc-app---android</string>
	<key>STORAGE_BUCKET</key>
	<string>wnyc-app---android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431848840548:ios:fb433ff6c1c13837cf6e71</string>
</dict>
</plist>